Repository jakubbbdev/webcrawler, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, documentation, enhancement, performance, security, test, ci, dependencies, frontend, api, scraper, config, breaking, good first issue, help wanted

fix: Fix CI workflow errors and add simplified version
  .github/workflows/ci-simple.yml
  .github/workflows/ci.yml
Labels: bug, enhancement, security, ci, config, good first issue, help wanted

feat: Add WebSocket support and CSV/JSON export functionality
  README.md
  go.mod
  go.sum
  internal/api/server.go
  internal/api/websocket.go
  templates/index.html
  websocket_test.html
Labels: bug, documentation, enhancement, performance, security, test, dependencies, frontend, api, scraper, breaking, good first issue, help wanted

fix: resolve golangci-lint errcheck issues in WebSocket manager
  internal/api/websocket.go
  templates/index.html
  websocket_test.html
Labels: bug, enhancement, performance, security, test, dependencies, frontend, api, scraper, breaking, good first issue, help wanted

fix: correct WebSocket test page port configuration
  websocket_test.html
Labels: frontend

feat: implement advanced crawling options
  internal/api/server.go
  internal/scraper/scraper.go
  templates/index.html
Labels: bug, enhancement, performance, security, test, dependencies, frontend, api, scraper, breaking, good first issue, help wanted

fix: resolve ineffectual assignment in filterUrls function
  internal/scraper/scraper.go
Labels: bug, enhancement, performance, security, test, dependencies, api, scraper, breaking, good first issue, help wanted

feat: implement scheduled crawling system
  README.md
  go.mod
  go.sum
  internal/api/server.go
  internal/api/websocket.go
  internal/scheduler/scheduler.go
  templates/index.html
Labels: bug, documentation, enhancement, performance, security, test, dependencies, frontend, api, scraper, breaking, good first issue, help wanted

.github/labeler.yml:

# Labeler configuration for WebCrawler
# Automatically labels issues and pull requests based on file changes

# Bug fixes
bug:
  - '**/*.go'
  - '**/*.md'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.txt'
  - '**/*.sh'
  - '**/*.dockerfile'
  - '**/Dockerfile*'

# Documentation changes
documentation:
  - '**/*.md'
  - '**/*.txt'
  - 'docs/**/*'
  - 'README*'

# New features
enhancement:
  - '**/*.go'
  - '**/*.md'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'

# Performance improvements
performance:
  - '**/*.go'
  - '**/*.md'

# Security fixes
security:
  - '**/*.go'
  - '**/*.md'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.sh'
  - '**/*.dockerfile'
  - '**/Dockerfile*'

# Testing
test:
  - '**/*_test.go'
  - '**/*.go'
  - '**/*.md'

# CI/CD changes
ci:
  - '.github/**/*'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.dockerfile'
  - '**/Dockerfile*'

# Dependencies
dependencies:
  - 'go.mod'
  - 'go.sum'
  - '**/*.go'

# Frontend changes
frontend:
  - 'templates/**/*'
  - 'static/**/*'
  - '**/*.html'
  - '**/*.css'
  - '**/*.js'

# API changes
api:
  - 'internal/api/**/*'
  - '**/*.go'

# Scraper changes
scraper:
  - 'internal/scraper/**/*'
  - '**/*.go'

# Configuration changes
config:
  - 'config/**/*'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.env*'

# Breaking changes
breaking:
  - '**/*.go'
  - '**/*.md'

# Good first issue (for new contributors)
good first issue:
  - '**/*.go'
  - '**/*.md'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.txt'
  - '**/*.sh'
  - '**/*.dockerfile'
  - '**/Dockerfile*'

# Help wanted
help wanted:
  - '**/*.go'
  - '**/*.md'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.txt'
  - '**/*.sh'
  - '**/*.dockerfile'
  - '**/Dockerfile*'
